.Pokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 4px #dad6d6;
  border-radius: 0.5rem;
  :hover {
    cursor: pointer;
  }
  .item {
    display: flex;
    justify-content: flex-end;
    // flex: 1;
  }
}
